/* List of variables that are commonly used in the code */
:root {
    --light-color: #bfccf6;
    --medium-color: #6883BA;
    --white-text: azure;
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* Sets the foundation margin and padding as 0. Organizes the structure of the page as a border-box */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stretches the contents to fill the whole page */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: var(--light-color);
}

/*  */
header.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-family: var(--font);
    background-color: var(--medium-color);
    color: var(--white-text);
    border-bottom: var(--light-color);
    border-bottom: dotted;
}

h1.title {
    width: 50%;
    font-size: 40px;
    padding-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 20px;
    align-items: center;
}

li {
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    
}

a {
    color: var(--white-text);
    text-decoration: none;
}

/* Positions the project description icons on the left */
img.float-left {
    float: left;
    margin-right: 25px;
}

/* Positions the project description icons on the right */
img.float-right {
    float: right;
    margin-left: 25px;
}

.projects {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .card {
    border-style: solid;
    border-width: 5px;
    border-color: var(--medium-color);
    border-radius: 50px;
    flex: 0 0 350px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }
  
.card img {
    width: 100%;
    vertical-align: bottom;
    border-radius: 0% 0% 45px 45px;
  }

div.right img{
    border-radius: 50%;
    width: auto;
    height: 300px;
    padding: 30px;
}

div.left {
    float: left;
    width: 50%;
    height: 300px;
    border-bottom: hidden;
}

div.right {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50%;
    height: 300px;
    border-bottom: hidden;

}

h2.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    color: var(--white-text);
    height: 100%;
    padding: 50px;
    text-align: center;
    font-size: 25pt;
}

div.me {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: linear-gradient(var(--medium-color), var(--medium-color), var(--light-color));
    padding-top: 100px;
    
}

.project-description {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--font);
    background-color: var(--medium-color);
    color: var(--white-text);
}

.project-description img {
    max-height: 200px;
    border-radius: 50%;
}

.project-description h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

section.card a {
    border-radius: 40px 40px 0px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: var(--font);
    font-size: 30px;
    background-color: var(--medium-color);
    color: var(--white-text);
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    padding-top: 80px;
    font-family: var(--font);
    background-image: linear-gradient(var(--light-color), var(--medium-color),var(--medium-color), var(--medium-color));
    color: var(--white-text);
    position: bottom;
    bottom: 0px;
    width: 100%
}